* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header {
    width: 100%;
    padding: 3.2rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-text {
    display: flex;
    justify-content: center;
    font-size: 7rem;
}

.subheading-text {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}